@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

* img {
  width: 100%;
}

body {
  background-image: url(../assets/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 87.2vh;
}

body .App .navegation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 2.5rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  margin: 2rem;
}

body .App .navegation-bar .logo img {
  width: 7rem;
}

body .App .navegation-bar .itens ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}

body .App .navegation-bar .itens ul li {
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 1.5rem 1rem;
  height: 4.4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .App .navegation-bar .itens ul li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

body .App .navegation-bar .itens ul li:hover {
  border-bottom: 2px solid red;
}

body .App .navegation-bar .profile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

body .App .navegation-bar .profile ul li {
  color: white;
  cursor: pointer;
}

body .App .navegation-bar .profile ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 2rem;
  width: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

body .App .navegation-bar .profile ul li img:hover {
  -webkit-box-shadow: 0 0 2px 2px red;
          box-shadow: 0 0 2px 2px red;
}

body .App main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3rem;
  color: white;
}

body .App main .details {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
}

body .App main .details .classification p {
  color: white;
  font-weight: 500;
  background-color: #e79c05;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  display: inline;
  font-size: 0.85rem;
}

body .App main .details .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.2rem;
}

body .App main .details .rating .red-color {
  color: #b93332;
}

body .App main .details .rating .stars,
body .App main .details .rating .year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.9rem;
}

body .App main .details .desc .title img {
  width: 22rem;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

body .App main .details .desc p {
  font-size: 0.95rem;
  margin: 0.8rem 0;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
}

body .App main .details .bttns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

body .App main .details .bttns .watch,
body .App main .details .bttns .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

body .App main .details .bttns button {
  margin-right: 1rem;
  padding: 0.5rem 1.3rem;
  border: 0;
  border-radius: 2rem;
  outline: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}

body .App main .details .bttns button.watch {
  background-color: #dc1e1f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .App main .details .bttns button.watch:hover {
  background-color: #c00000;
}

body .App main .details .bttns button.watch .play {
  font-size: 1.3rem;
}

body .App main .details .bttns button.list {
  background-color: #292928;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .App main .details .bttns button.list:hover {
  background-color: #1a1a1a;
}

body .App main .details .bttns button.list .add {
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */